<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REAICE 後臺管理系統</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 border-end">
                <nav class="nav flex-column nav-pills">
                    <h1 class="mt-2">
                        <img src="../images/logo.svg" alt="" class="img-fluid">
                    </h1>
                    <a class="nav-link disabled my-2">產品管理</a>
                    <a class="nav-link d-flex mb-2 <%= currentPageRef === '/productsMenu' ? 'active' : ''%>" href="./productsMenu">
                        <i class="category me-2"></i>
                        類別
                    </a>
                    <a class="nav-link d-flex mb-2 <%= currentPageRef === '/product' ? 'active' : ''%>" href="./product">
                        <i class="product me-2"></i>
                        產品
                    </a>
                    <a class="nav-link disabled my-2">文章管理</a>
                    <a class="nav-link d-flex mb-2 <%= currentPageRef === '/article' ? 'active' : ''%>" href="./article">
                        <i class="article me-2"></i>
                        文章
                    </a>
                    <a class="nav-link disabled my-2">使用者管理</a>
                    <a class="nav-link d-flex mb-2 <%= currentPageRef === '/user' ? 'active' : ''%>" href="./user">
                        <i class="user me-2"></i>
                        使用者
                    </a>
                </nav>
            </div>
            <div class="col-10">
                <%- body %>
            </div>
        </div>
    </div>
    <footer class="bg-light text-center py-3">REAICE 後臺管理系統</footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>